<div class="page-aboutUs-container">
    <div class="aboutUs-wrapper">
        <div class="profitBox-container">
            <div class="profitBoxWrapper">
                <div class="button-conatainer">
                    <button class="btn btn-left" (click)="onBackward()">
                        <span class="material-symbols-outlined" style="display: flex;">
                            chevron_left
                        </span>
                    </button>
                    <button class="btn btn-right" (click)="onForward()">
                        <span class="material-symbols-outlined" style="display: flex;">
                            chevron_right
                        </span>
                    </button>

                </div>
                <div class="profitBoxRow box-profit-row" (scroll)="scrollEve($event);" #scrollableContainer>
                    <div class="profitBoxCol box-profit-col">
                        <h4>169</h4>
                        <p>Total Clients</p>
                        <div class="profitICons">
                            <img src="../../assets/images/customer.png" alt="" width="50px">
                        </div>
                    </div>
                    <div class="profitBoxCol">
                        <h4>4,459</h4>
                        <p>Total Deposits</p>
                        <div class="profitICons">
                            <img src="../../assets/images/deposit.png" alt="" width="50px">
                        </div>
                    </div>
                    <div class="profitBoxCol">
                        <h4>11,449</h4>
                        <p>Total Profits</p>
                        <div class="profitICons">
                            <img src="../../assets/images/profits.png" alt="" width="50px">
                        </div>
                    </div>

                    <div class="profitBoxCol">
                        <h4>169</h4>
                        <p>Total Clients</p>
                        <div class="profitICons">
                            <img src="../../assets/images/customer.png" alt="" width="50px">
                        </div>
                    </div>
                    <div class="profitBoxCol">
                        <h4>4,459</h4>
                        <p>Total Deposits</p>
                        <div class="profitICons">
                            <img src="../../assets/images/deposit.png" alt="" width="50px">
                        </div>
                    </div>
                    <div class="profitBoxCol">
                        <h4>11,449</h4>
                        <p>Total Profits</p>
                        <div class="profitICons">
                            <img src="../../assets/images/profits.png" alt="" width="50px">
                        </div>
                    </div>
                    <div class="profitBoxCol">
                        <h4>4,459</h4>
                        <p>Total Deposits</p>
                        <div class="profitICons">
                            <img src="../../assets/images/deposit.png" alt="" width="50px">
                        </div>
                    </div>
                    <div class="profitBoxCol">
                        <h4>11,449</h4>
                        <p>Total Profits</p>
                        <div class="profitICons">
                            <img src="../../assets/images/profits.png" alt="" width="50px">
                        </div>
                    </div>
                    <div class="profitBoxCol">
                        <h4>4,459</h4>
                        <p>Total Deposits</p>
                        <div class="profitICons">
                            <img src="../../assets/images/deposit.png" alt="" width="50px">
                        </div>
                    </div>
                    <div class="profitBoxCol">
                        <h4>11,449</h4>
                        <p>Total Profits</p>
                        <div class="profitICons">
                            <img src="../../assets/images/profits.png" alt="" width="50px">
                        </div>
                    </div>
                    <div class="profitBoxCol">
                        <h4>4,459</h4>
                        <p>Total Deposits</p>
                        <div class="profitICons">
                            <img src="../../assets/images/deposit.png" alt="" width="50px">
                        </div>
                    </div>
                    <div class="profitBoxCol">
                        <h4>11,449</h4>
                        <p>Total Profits</p>
                        <div class="profitICons">
                            <img src="../../assets/images/profits.png" alt="" width="50px">
                        </div>
                    </div>
                    <div class="profitBoxCol">
                        <h4>4,459</h4>
                        <p>Total Deposits</p>
                        <div class="profitICons">
                            <img src="../../assets/images/deposit.png" alt="" width="50px">
                        </div>
                    </div>
                    <div class="profitBoxCol">
                        <h4>11,449</h4>
                        <p>Total Profits</p>
                        <div class="profitICons">
                            <img src="../../assets/images/profits.png" alt="" width="50px">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <!-- card content -->
        <div class="aboutUs-text-content">
            <h1>Get To Know Us</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus saepe accusamus optio enim,
                perspiciatis magni non delectus veniam quos. Cupiditate rem aliquam ex illo dolore labore, neque
                quisquam doloremque odio.</p>
        </div>
        <div class="aboutUs-card-wrapper">
            <div class="aboutUs-card-row">
                <div class="aboutUs-card-col">
                    <div class="cardIcons">
                        <img src="../../assets/images/certificate.png" alt="" width="50px">
                    </div>
                    <div class="cardDescription">
                        <h2>Licence & Certified</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore dolor, sit recusandae quod
                            quis pariatur molestias quia expedita minima vero repellendus</p>
                        <a href="" id="read-more-contents">Read More</a>
                    </div>
                </div>
                <div class="aboutUs-card-col">
                    <div class="cardIcons">
                        <img src="../../assets/images/analytics.png" alt="" width="50px">
                    </div>
                    <div class="cardDescription">
                        <h2>Great Presentation</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore dolor, sit recusandae quod
                            quis pariatur molestias quia expedita minima vero repellendus</p>
                        <a href="" id="read-more-contents">Read More</a>
                    </div>
                </div>
            </div>

            <div class="aboutUs-card-row">
                <div class="aboutUs-card-col">
                    <div class="cardIcons">
                        <img src="../../assets/images/united.png" alt="" width="50px">
                    </div>
                    <div class="cardDescription">
                        <h2>Professional Team</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore dolor, sit recusandae quod
                            quis pariatur molestias quia expedita minima vero repellendus</p>
                        <a href="" id="read-more-contents">Read More</a>
                    </div>
                </div>
                <div class="aboutUs-card-col">
                    <div class="cardIcons">
                        <img src="../../assets/images/timetable.png" alt="" width="50px">
                    </div>
                    <div class="cardDescription">
                        <h2>Save Time & Money</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore dolor, sit recusandae quod
                            quis pariatur molestias quia expedita minima vero repellendus</p>
                        <a href="" id="read-more-contents">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>