@import "../../assets/styles/app.scss";
@import "../../assets/styles/responsive.scss";

.pageSubscribeContainer {
  padding: 100px 100px;
  font-family: $secondary-font;
  background-color: #fff8fe;
  .pageSubscribeWrapper {
    max-width: $max-with;
    margin: 0 auto;
    padding: 0 100px;
    text-align: center;
    h1 {
      text-transform: uppercase;
      margin-bottom: 16px;
    }
    p {
      line-height: 35px;
      font-weight: 300;
      color: #757575;
      margin-bottom: 16px;
    }
    .frmSubscribe {
      input {
        padding: 10px 20px;
        width: 375px;
        outline: none;
        border: none;
        margin-bottom: 16px;
        border: 1px solid #f1f1f1;

      }
      textarea {
          width: 375px;
          outline: none;
          border: 1px solid #f1f1f1;
          resize: vertical;
          padding: 10px 20px;
          margin-bottom: 16px;

      }
      ::placeholder {
        font-family: $secondary-font;
        font-size: 12px;

      }
      button {
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        width: 375px;
        background-color: #882781;
        color: $white-color;
        font-family: $secondary-font;
        transition: transform 0.4s cubic-bezier(0.65, -0.1, 0.27, 1.55) 0s;
        transition: 0.25s;
        &:hover {
          background-color: #be39b6;
          transform: scale(1.02);
        }
        &:active {
            background-color: #882781;
        }
      }
    }
  }
}
