<div class="pageSubscribeContainer">
    <div class="pageSubscribeWrapper">
        <div class="pageSubscribeTextContent">
            <h1>Subscribe to us now!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ea asperiores totam repellendus
                praesentium minima illum iusto, quo accusamus quis veritatis saepe, provident aliquid nostrum in omnis
                dolorem perspiciatis ut!</p>
            <div class="frmSubscribe">
                <input type="text" placeholder="Enter your email*"> <br>
                <input type="text" placeholder="Your fullname*"> <br>
                <input type="text" placeholder="Your job*"> <br>

                <textarea name="" id="" cols="0" rows="5" placeholder="What you want to say?"></textarea> <br>
                <button
                    (click)="getSubmitButton ();"
                 >Submit</button>
            </div>
        </div>
    </div>
</div>