<div class="globalCommContainer">
    <div class="globalCommWrapper">
        <div class="globalTextContent">
            <h1>We Are Always Thinking Global</h1>
            <h1>Community.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat labore enim expedita error delectus
                doloremque.</p>
            <button id="globalCommunity-buttonLearnMore" (click)="getLearnMoreButton ();">Learn More</button>
        </div>
        <div class="globalImgWrapper">
            <img src="../../assets/images/globalCommunity.png" alt="" width="500px">
        </div>
    </div>
</div>