
<div class="page-background">
    <app-navbar></app-navbar>
    <div class="introductionContent-Wrapper">
        <div class="intro-image">
            <img src="../../assets/images/introImage.png" alt="">
        </div>
        <div class="intro-Text">
            <h1>Maintain Your Business</h1>
            <h1>Intelligent Plan.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat labore enim expedita error delectus
                doloremque.</p>
            <div class="intro-butons-container">
                <button id="intro-butons-start-now" (click)="getStartPlanButton ();">Start Now</button>
                <button id="intro-butons-view-plan" (click)="getViewPlanButton ();">View Plan</button>
            </div>
        </div>
    </div>
</div>