<div class="footer-container">
    <div class="footer-wrapper">
        <div class="footer-row">
            <div class="footer-col footer-logos">
                <img src="../../assets/images/aux-logo.svg" alt="" width="30px">
                <h4>AUXSWOT</h4>
                
            </div>

            <div class="footer-col">
                <h4 id="quick-link-title">Quick Links</h4>
                <ul class="nav-items quick-links">
                    <li><a href="">Home</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Gallery</a></li>
                    <li><a href="">Partner</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">Members</a></li>
                    <li><a href="">Blog Post</a></li>
                </ul>
            </div>
            <div class="footer-col contact-info-wrapper">
                <h4 style="margin-bottom: 10px; color: #f1f1f1;">Contact Info</h4>
                <ul class="footer-contact-info-items">
                    <li>
                        <span class="material-symbols-outlined">
                            mail
                        </span>
                        auxswot@gmail.com
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                            call
                        </span>
                        (+855) 10 725 999 / 12 995 789
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                            pin_drop
                        </span>
                        Phnom Penh, Cambodia
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                            share
                        </span>
                        Cambodia Sharing
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4 style="margin-bottom: 10px; color: #f1f1f1;">Find Us</h4>
                <ul class="footer-social">
                    <li><a href="">
                            <img src="../../assets/images/facebook (1).png" alt="" width="16px">
                            Facebook
                     </a></li>
                    <li><a href="">
                            <img src="../../assets/images/instagram.png" alt="" width="16px">
                            Instagram
                    </a></li>
                    <li><a href="">
                            <img src="../../assets/images/twitter.png" alt="" width="16px">
                            Twitter
                    </a></li>
                </ul>
            </div>


        </div>
    </div>
</div>