<div class="choosUsContainer">
    <div class="chooseUsWrapper">
        <div class="chooseUsTextContent">
            <h1>Why Choose Us?</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur perspiciatis recusandae sed numquam
                corporis tenetur impedit id totam ex! Ipsam mollitia minima impedit fuga cum ab animi, nam natus velit.
            </p>
        </div>
        <div class="chooseUs-Card-Container">
            <div class="chooseUs-Card-row">
                <div class="chooseUs-Card-col">
                    <div class="chooseUs-icons">
                        <img src="../../assets/images/debit-card.png" alt="" width="190px">
                    </div>
                    <div class="chooseUsDescription">
                        <h3>Online Payment</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore dolor, sit recusandae quod
                            quis pariatur molestias quia expedita minima vero repellendus</p>
                        <a href="" id="read-more-contents">Read More</a>
                    </div>
                </div>
                <div class="chooseUs-Card-col">
                    <div class="chooseUs-icons">
                        <img src="../../assets/images/assets.png" alt="" width="190px">
                    </div>
                    <div class="chooseUsDescription">
                        <h3>Financial Management</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore dolor, sit recusandae quod
                            quis pariatur molestias quia expedita minima vero repellendus</p>
                        <a href="" id="read-more-contents">Read More</a>
                    </div>
                </div>
                <div class="chooseUs-Card-col">
                    <div class="chooseUs-icons">
                        <img src="../../assets/images/modern-house.png" alt="" width="190px">
                    </div>
                    <div class="chooseUsDescription">
                        <h3>House Loan Served</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore dolor, sit recusandae quod
                            quis pariatur molestias quia expedita minima vero repellendus</p>
                        <a href="" id="read-more-contents">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>