<div class="pagePlanContainer">
    <div class="pagePlanWrapper">
        <div class="pagePlanTxtContent">
            <h1>Grab Our Plan</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Possimus neque totam quibusdam quas rerum eaque porro nostrum a quasi,
                quos sapiente similique! Pariatur doloremque delectus ad reiciendis repellendus atque vel.</p>
        </div>
        <div class="pagePlanCardContainer">
            <div class="pagePlanCardWrapper">
                <div class="pagePlanCardRow">
                    <div class="pagePlanCardCol">
                        <div class="pagePlanCardDetails">
                            <div class="pagePlanCardHeadingTxt">
                                <img src="../../assets/images/shapes.png" alt="" width="50px">

                                <h3>Basic Plan</h3>
                                <h1>$19</h1>
                            </div>
                            <div class="pagePlanCardDecscription">
                                <ul>
                                    <li> <span class="material-symbols-outlined">
                                        done
                                    </span> Lorem ipsum dolor sit amet consectetur.</li>
                                    <li>
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>Lorem ipsum dolor sit amet consectetur.</li>
                                    <li>
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>Lorem ipsum dolor sit amet consectetur.</li>
                                    <li> <span class="material-symbols-outlined">
                                        done
                                    </span>Lorem ipsum dolor sit amet consectetur.</li>
                                </ul>
                                
                            </div>
                            <div class="pagePlanCardButton">
                                <button id="pageBtnChoosePlan">Choose Plan</button>
                            </div>
                        </div>
                    </div>
                    <div class="pagePlanCardCol">
                        <div class="pagePlanCardDetails">
                            <div class="pagePlanCardHeadingTxt">
                                <img src="../../assets/images/handshake.png" alt="" width="50px">
                                <h3>Corporate Plan</h3>
                                <h1>$39</h1>
                            </div>
                            <div class="pagePlanCardDecscription">
                                <ul>
                                    <li> <span class="material-symbols-outlined">
                                            done
                                        </span> Lorem ipsum dolor sit amet consectetur.</li>
                                    <li>
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>Lorem ipsum dolor sit amet consectetur.
                                    </li>
                                    <li>
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>Lorem ipsum dolor sit amet consectetur.
                                    </li>
                                    <li> <span class="material-symbols-outlined">
                                            done
                                        </span>Lorem ipsum dolor sit amet consectetur.</li>
                                </ul>
                    
                            </div>
                            <div class="pagePlanCardButton">
                                <button id="pageBtnChoosePlan">Choose Plan</button>
                            </div>
                        </div>
                    </div>
                    <div class="pagePlanCardCol">
                        <div class="pagePlanCardDetails">
                            <div class="pagePlanCardHeadingTxt">
                                <img src="../../assets/images/premium.png" alt="" width="50px">
                                <h3>Premium Plan</h3>
                                <h1>$59</h1>
                            </div>
                            <div class="pagePlanCardDecscription">
                                <ul>
                                    <li> <span class="material-symbols-outlined">
                                            done
                                        </span> Lorem ipsum dolor sit amet consectetur.</li>
                                    <li>
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>Lorem ipsum dolor sit amet consectetur.
                                    </li>
                                    <li>
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>Lorem ipsum dolor sit amet consectetur.
                                    </li>
                                    <li> <span class="material-symbols-outlined">
                                            done
                                        </span>Lorem ipsum dolor sit amet consectetur.</li>
                                </ul>
                    
                            </div>
                            <div class="pagePlanCardButton">
                                <button id="pageBtnChoosePlan">Choose Plan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>