<div class="work-galleryContainer">
    <div class="work-galleryWrapper">
        <div class="work-galleryTextContent">
            <h1>Review Work Gallery</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, dolorem. Doloremque quasi maiores magnam
                magni. Molestias optio iusto mollitia rem, odio pariatur, similique voluptas provident.</p>
        </div>
        <div class="work-galleryCardWrapper">
            <div class="work-galleryCardRow">
                <div class="work-galleryCardCol">
                    <img src="../../assets/images/work-gallary-01.jpg" alt="" width="100%">
                </div>
                <div class="work-galleryCardCol">
                    <img src="../../assets/images/work-gallary-02.jpg" alt="" width="100%">
                </div>
                <div class="work-galleryCardCol">
                    <img src="../../assets/images/work-gallary-03.jpg" alt="" width="100%">
                </div>
                <div class="work-galleryCardCol">
                    <img src="../../assets/images/work-gallary-04.jpg" alt="" width="100%">
                </div>
            </div>
            <div class="work-galleryCardRow">
                <div class="work-galleryCardCol">
                    <img src="../../assets/images/work-gall-05.jpg" alt="" width="100%">
                </div>
                <div class="work-galleryCardCol">
                    <img src="../../assets/images/work-gall-06.jpg" alt="" width="100%">
                </div>
                <div class="work-galleryCardCol">
                    <img src="../../assets/images/work-gall-07.jpg" alt="" width="100%">
                </div>
                <div class="work-galleryCardCol">
                    <img src="../../assets/images/work-gall-08.jpg" alt="" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>