<app-introduction-section></app-introduction-section>
<app-about-us-section></app-about-us-section>
<app-global-community-section></app-global-community-section>
<app-chooseus-section></app-chooseus-section>
<app-work-gallery-section></app-work-gallery-section>
<app-pag-brands-section></app-pag-brands-section>
<app-grab-plan-section></app-grab-plan-section>
<app-subscribe-plan-section></app-subscribe-plan-section>

<!-- acordion -->
<app-acordion>
        <app-acordion-item title="How do i choose a corporate name?">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore temporibus laboriosam quas eos excepturi accusamus
            alias magni laudantium, nostrum, similique modi minus, ratione ab vel esse asperiores quisquam. Dolor, quod.
        </app-acordion-item>
        <app-acordion-item title="What is a professional corporation">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore temporibus laboriosam quas eos excepturi accusamus
            alias magni laudantium, nostrum, similique modi minus, ratione ab vel esse asperiores quisquam. Dolor, quod.
        </app-acordion-item>
        <app-acordion-item title="Can i be the only shareholder in my corporation?">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore temporibus laboriosam quas eos excepturi accusamus
            alias magni laudantium, nostrum, similique modi minus, ratione ab vel esse asperiores quisquam. Dolor, quod.
        </app-acordion-item>
</app-acordion>

<!-- acordion -->


<app-footer></app-footer>